* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --background--color: #bababa;
    --color--header: #444444;
}
body {
    font-family: "Roboto", sans-serif;
}
.container {
    width: 100%;
    /* max-width: 661px; */
    margin: 0 auto;
}
.header {
    height: 84px;
}
.header__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.navbar {
    background-color: var(--color--header);
    height: auto;
}
.navbar__wrap {
    margin: 0 50px;
}
.navbar__list {
    display: flex;
    align-items: center;

    justify-content: space-between;
}
.navbar__link {
    list-style: none;
    padding: 20px 0;
}
.navbar__link a {
    text-decoration: none;
    padding: 20px;
    color: white;
    font-weight: 500;
    text-transform: uppercase;
}
.navbar__link a.active {
    background-color: var(--background--color);
    color: black;
}
.navbar__link a:hover {
    background-color: var(--background--color);
    color: black;
}

.main__wrapper {
    margin: 20px 30px 30px 30px;
}
.list__category-wrap {
    display: flex;
    align-items: center;
    height: 50px;
    padding: 0 15px;
    background-color: var(--background--color);
}
.list__category-icon {
    flex: 3;
    background-color: var(--color--header);
    padding: 12px 8px;
    color: white;
    display: flex;
    align-items: center;
}
.list__category-icon i {
    margin-right: 50px;
}
.list__category-input {
    flex: 9;
    display: flex;
    align-items: center;
    border: 1px solid black;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}
.list__category-input input {
    width: 95%;
    padding: 14px 0 10px 10px;
    outline: none;
    border: none;
}
.list__category-input i {
    color: red !important;
    font-size: 20px;
    padding: 10px;
    cursor: pointer;
}

.main__body {
    margin: 0 10px;
}
.main__body-wrapper {
    padding: 30px 10px;
    background-color: #ededed;
    border-radius: 20px;
}
.main__wrap {
    display: flex;
}
.classify {
    flex: 3;
    background-color: #bbb9ba;
    padding: 10px 0;
}
.classify h2 {
    text-transform: uppercase;
    background-color: var(--color--header);
    color: white;
    text-align: center;
    margin: 0 8px;
    font-size: 18px;
    padding: 6px 0;
}
.classify__list {
    padding: 10px 10px 0 10px;
}
.classify__list-item {
    list-style: none;
    background-color: #4a3023;
    padding: 10px 0 10px 40px;
    border-bottom: 1px solid #ccc;
    color: white;
    text-transform: uppercase;
    font-weight: 500;
    cursor: pointer;
}
.classify__list-item:hover {
    background-color: #a58053;
    color: #bfa664;
}

.contact {
    background-color: var(--background--color);
    margin-top: 20px;
    padding: 10px 10px 0 10px;
    text-align: center;
}
.contact h2 {
}

.contact__hotline {
    border: 4px solid white;
    width: 100px;
    border-radius: 20px;
    background-color: red;
    margin-top: 10px;
}
.contact__hotline span {
    color: #bfa664;
    font-size: 16px;
}
.contact__number-wrap {
    text-align: -webkit-center;
    width: 100%;
}
.contact__number {
    background-color: white;
    color: black;
    border-radius: 20px;
    padding: 4px 12px;
    text-align: center;
    width: 200px;
    margin: 10px 0;
}
.contact__support {
    padding: 4px 12px;
    background-color: blue;
    width: 170px;
    margin-bottom: 10px;
    color: white;
    border-radius: 20px;
}
.contact__link {
    text-align: center;
    width: 170px;
    padding: 10px 0;
    color: black;
    background-color: white;
    margin: 20px auto;
    border-radius: 20px;
}
.contact__link a {
    padding: 4px 20px;
    color: black;
}

.content__center {
    flex: 6;
    margin: 0 10px;
}

.content__sale {
    width: 100%;
}
.content__sale-img {
    text-align: center;
}
.img__sale {
    width: 60%;
    object-fit: cover;
    text-align: center;
}
.product__img {
    height: 180px;
}
.product__wrap {
    display: flex;
    margin-top: 30px;
    cursor: pointer;
}

.product__info {
    margin-left: 20px;
}
.product__name {
}
.product__price {
    margin-top: 10px;
    color: #d24443;
    font-weight: 500;
}
.underline {
    text-decoration: line-through;
}
.product__still {
    margin-top: 4px;
    color: #d24443;
    font-weight: 500;
}
.product__button {
    margin-left: 30px;
    margin-top: 30px;
}
.product__button button {
    background-color: var(--color--header);
    color: #e5d83a;
    padding: 4px 10px;
    border: none;
    cursor: pointer;
}
.product__button button:first-child {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}
.product__button button:last-child {
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.banner__img {
    flex: 2;
}
.banner__image {
    width: 200px;
}
.banner__image img {
    height: 45vh;
    width: 100%;
}
.footer {
    width: 100%;
    background-color: var(--background--color);
    margin-top: 20px;
}
.footer__wrap {
}
.footer__top {
}
.footer__list {
    display: flex;
    justify-content: center;
    padding: 10px 0;
    background-color: var(--color--header);
}
.footer__link {
    list-style: none;
}
.footer__link a {
    text-decoration: none;
    color: white;
    padding: 4px 12px;
    border-right: 1px solid white;
}
.footer__link a.active {
    color: #e5d83a;
}
.footer__link a:hover {
    color: #e5d83a;
}

.footer__info {
    display: flex;
    align-items: center;
    margin: 0 10px;
}
.footer__info-left {
    width: 50%;
}
.footer__info-right {
    width: 50%;
}
.footer__info-leftWrap {
    margin: 10px;
}
.footer__info-leftWrap label {
    width: 100px;
    display: inline-block;
}
