*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
.row{
    margin: 0;
}
/* =================== BANNER HEADER =========================== */
.col-lg-4.img__header{
    padding: 0;
}
.col-lg-4.img__header img{
    object-fit: cover;
}

/* ======================= MENU ============================= */
nav.nav-links{
    background-color: #444444;
}
.nav-links ul{
    display: flex;
    justify-content: center;
}
.nav-links ul li{
    list-style: none;
    padding: 1% 3%;
}
.nav-links ul li:hover{
    background-color: #BABABA;
    color: #333;
}
.nav-links ul li a{
    color: #FFF;
    font-weight: 600;
    padding: 17px 10px !important;
}
.nav-links ul li a:hover{
    text-decoration: none;  
    color: #333;
}
/* ============================== search ======================== */
.search{
    background-color: #BABABA;
}
.all__category {
    display: flex;
    align-items: center;
    background-color: #444444;
    padding: 0 3%;
    justify-content: center
}
.icon__category {
    padding-right: 5px;
}
form.col-lg-9.form-inline, .col-lg-3.all__category{
    padding-left: 0;
    padding-right: 0;
}
.form-inline .form-control {
    width: 790px;
}
.name__category a{
    color: #333;
    font-weight: 600;
}
.icon__category a:hover, .name__category a:hover{
    text-decoration: none;
}
.mr-sm-2{
    margin-right: 0 !important;
}
.icon__category a, .name__category a{
    color: #fff;
}
.form-control{
    border-color: gray;
    border-radius: 0;
}
button.btn.my-2.my-sm-0{
    border-color: gray;
    border-radius: 0 1rem 1rem 0;
    background: #fff;
}
button.btn.my-2.my-sm-0:hover{
    background-color: #dbce40;;
}
i.fa.fa-search{
    color: #C7151E;
}
/* ============================= menu__left ======================== */
.content {
    margin-top: 25px;
    background-color: #EDEDED;
    border-radius: 35px;
}
/* -------------------------------- Classify ---------------------------------- */
.col-lg-2, .col-lg-3, .col-lg-8{
    padding-right: 0;
    padding-left: 0;
}
.list__classify {
    background-color: #BABABA;
    padding: 4%;
}
.row.content__product {
    display: inherit;
    display: flex;
}
h6,h5{
    margin-bottom: 0;
}
h5.content__classify{
    text-align: center;
    color: #fff;
    background: #444444;
    padding: 5% 0;
    font-weight: 600;
}
ul.items {
    list-style: none;
    background-color: #4A3023;
    margin: 0 5%;
    margin-top: 5%;
}
.menu__left a{
    color: #fff;
    font-weight: 600;
    padding: 5% 0;
}
.menu__left a:hover{
    text-decoration: none;
    color: #C6B938
}
.menu__left li{
    padding: 5% 10%;
    border-bottom: 1px solid #fff;
}
.menu__left li:hover{
    background-color: #A58053;

}
/* -------------------------------- contact ------------------------- */
.content__contact {
        background-color: #BABABA;
        padding: 6% 4%;
        margin-top: 10%;
}
.text__contact {
    background-color: #444444;
    color: #fff;
    padding: 4%;
    text-align: center;
}
.text__contact h5{
    font-weight: 600;
}
.hotline{
    display: flex;
    margin-top: 8%;
    position: relative;
}
.call__hotline {
    margin-top: 5%;
    background-color: #fff;
    padding: 4% 6%;
    border-radius: 20px;
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
}
.call__hotline h5{
    font-weight: 600;
}
.icon {
    padding: 7% 8%;
    border-radius: 50%;
    color: #fff;
    background: rgb(199,21,30);
    background: radial-gradient(circle, rgba(199,21,30,1) 0%, rgba(199,21,30,1) 55%, rgba(255,255,255,1) 62%);
    z-index: 9;
}
.text__hotline {
    width: 60%;
    box-shadow: 0px 0px 0px 4px #fff;
    background-color: #C7151E;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: #dbce40;
    border-radius: 25px;
    position: absolute;
    left: 5%;
    padding: 3% 6%;
    font-weight: 600;
    top: 20%;
}
.support__online {
    margin-top: 5%;
    display: flex;
    position: relative ;
}
.img__support img{
    border-radius: 50%;
    width: 60px;
    height: 60px;
    object-fit: cover;
    box-shadow: 0px 0px 0px 5px #268af5;
}
.img__support{
    z-index: 5;
}
.text__support{
    box-shadow: 0px 0px 0px 4px #fff;
    background-color: #268af5;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: #fff;
    position: absolute;
    padding: 4% 10%;
    font-weight: 600;
    border-radius: 60px 10px;
    top: 60%;
    left: 5%;
}
.clickhere {
    margin-top: 15%;
    display: flex;
}
.img__click {
    position: relative;
    left: 10%;
    border-radius: 50%;
    z-index: 5;
}
.img__click img{
    width: 55px;
    height: 55px;
    border-radius: 50%;
    object-fit: cover;
}
.text__click{
    position: absolute;
    background-color: #fff;
    padding: 4% 24%;
    border-radius: 20px;
    text-align: center;
    margin-left: 15%;
}
.text__click a{
    color: #333;
    text-decoration: revert;
}
/* =============================== sale__product ============================ */

/* ---------------------------- sale ---------------------------- */
.sale__date {
    display: flex;
    position: relative;
}
.content__sale {
    background-color: #F36B01;
    padding: 1%;
    width: 100%;
}
.content__sale {
    background-color: #F36B01;
    padding: 2% 3%;
    width: 55%;
    border-radius: 25px 0 0 25px;
}
.content__sale h6, .date__sale h6{
    font-weight: 600;
    font-size: 20px;
}
.number__sale {
    display: flex;
    justify-content: center;
    width: 10%;
    padding: 35px;
    position: absolute;
    top: -23px;
    left: 50%;
    background: radial-gradient(circle, #f36b01 0%, #f36b01 55%, rgba(255,255,255,1) 70%);
}
.number__sale h5{
    color: #fff;
    font-weight: 600;
    font-size: 30px;
}
.date__sale {
    background-color: #F36B01;
    padding: 2% 3%;
    width: 55%;
    border-radius: 0 25px 25px 0;
    text-align: right;
}
h5.number__sale--percent {
    color: #c7151e;
    text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
}
/* ----------------------------- product ------------------------- */
.list__product {
    display: flex;
    margin-top: 30px;
}
.des_product {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
h5.title, h5.address, h5.price, h5.price__sale{
    font-weight: 600;
    font-size: 18px;
}
h5.price span{
    text-decoration-line: line-through;
    color: red;
}
h5.price__sale span{
    color: red;
}
h5.price{
    margin-top: 10%;
}
.button__product {
    display: flex;
    margin-top: 10px;
}
a.buy__now, a.show__des {
    padding: 2% 8%;
    background-color: #444444;
    color: #dbce40;
    border-radius: 15px;
    font-weight: 600;
}
a.buy__now{
    margin-right: 15px;
}

/* ------------------------------- img__body --------------------------- */
.img__body--top img{
    margin-top: 20px;
}

/* ================= footer ===================== */
.menu__footer{
    background-color: #444444;
}
.menu__footer ul{
    display: flex;
    justify-content: center;
    margin-bottom: 0;
}
.menu__footer ul li{
    list-style: none;
    padding: 1% 3%;
    
}
.menu__footer ul li a{
    color: #fff;
    text-decoration: none;
}
.menu__footer ul li a:hover{
    color: #C6B938;
}
.menu__footer ul li:hover{
    border-right: 1px solid #C6B938;
}
li.contact__footer:hover{
    border-right: none !important;
}
.content__footer{
    background-color: #BABABA;
    padding: 1% 3%;
}
.content__footer--info>div{
    padding: 1% 0;
}
.office, .phone, .email, .mst{
    display: flex;
}
.office__title h6, .phone__title h6, .email__title h6, .mts__title h6{
    font-weight: 600;
}
.content__footer--license {
    display: flex;
    align-items: center;
    justify-content: space-around;
}
footer {
    margin-top: 3%;
}
.content__footer--license h5{
    text-align: center;
}
/* ================================== Reponsive ================================== */
@media screen and (max-width: 1200px){
    .form-inline .form-control {
        width: 650px;
    }
    .number__sale {
        width: 12%;
        padding: 20px;
        top: -18px;
    }    
    .text__support{
        top: 60%;
        left: 5%;
    }
}
@media screen and (max-width: 1600px) {
    .text__support{
        left: 8%;
    }    
}
@media screen and (max-width: 1440px) {
    .text__click{
        padding: 4% 15%;
    }
    .number__sale{
        width: 11%;
        padding: 26px;
    }
    h5.price {
        margin-top: 5%;
    }
    .text__support{
        left: 12%;
    } 
}
@media screen and (max-width: 1280px) {
    a.buy__now, a.show__des{
        padding: 1% 8%;
    }
    .number__sale {
        width: 12%;
        padding: 25px;
    }
    .text__click {
        padding: 5% 15%;
    }
    .text__click{
        bottom: 2%;
    }
}
@media screen and (max-width: 1200px) {
    .number__sale {
        width: 12%;
        padding: 20px;
    }
    .text__support {
        left: 16%;
        padding: 4% 5%;
    }
    .text__click{
        margin-left: 18%;
    }
}
@media screen and (max-width: 1080px) {
    .number__sale {
        width: 13%;
        padding: 19px;
    }
    .text__support {
        left: 20%;
    }
    .text__support{
        padding: 4% 5%;
    }
    .text__click {
        margin-left: 20%;
        bottom: 6%;
    }
    .icon{

    }
    .text__support{
        padding: 4% 5%;
    }
}
@media screen and (max-width: 992px) {
    .img__menu{
        display: none;
    }
    .form-inline .form-control {
        width: 645px;
        border-radius: 15px 0 0 15px;
        margin-top: 10px;
    }
    .all__category{
        display: none;
    }
    .form-inline .form-control{
        margin-bottom: 10px;
    }
    h5.content__classify{
        padding: 2% 0;
    }
    .menu__left li{
        padding: 2% 10%;
        text-align: center;
    }
    .content__contact{
        margin-top: 5%;
    }
    .text__contact{
        padding: 2%;
    }
    .icon{
        padding: 3% 4%;
    }
    .text__hotline {
        padding: 2% 6%;
        top: 15%;
    }
    .call__hotline {
        padding: 2% 6%;
    }
    .support__online{
        margin-top: 0;
    }
    .text__support {
    padding: 2% 20%;
    left: 0;
    }
    .text__click {
        padding: 2% 15%;
        margin-left: 10%;
        bottom: 4%;
    }
    .clickhere{
        margin-top: 7%;
    }
    .hotline{
        margin-top: 4%;
    }
    .number__sale {
        width: 12%;
        padding: 36px;
    }
    .sale__date{
        margin-top: 5% !important;
    }
    .number__sale{
        top: 0;
    }
    .number__sale {
        width: 12%;
        padding: 22px;
    }
    footer {
        margin-top: 5%;
    }
}
@media screen and (max-width: 767px) {
    a.buy__now, a.show__des {
        padding: 1% 5%;
    }
}

/* =========================== product ========================== */
.table {
    background-color: #fff;
}
tbody{
    text-align: center;
}
a.btn.add-new {
    background-color: rgb(13, 116, 81);
    border-radius: 20px;
}
a.btn.add-new:hover{
    background-color: rgb(27, 145, 105);
}
a.btn.add-new  span {
    color: #fff;
}